<h1>Listing All Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Postcount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.posts.count if user.respond_to?(:posts) %></td>
        <td><%= link_to 'View Posts', user_path(user) %></td>
        <td><%= link_to 'Delete User', user_path(user), method: 'delete' %></td>
      </tr>
    <% end -%>
  </tbody>
</table>