<h1>Make A User</h1>

<%= form_for @user do |f| %>

  <div class="form-section">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-section">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-section">
    <%= f.submit :'Create User' %>
  </div>

<% end %>
